.first_block{
    position: relative;
    height: 697px;
    width: 100%;
    margin-top: 79px;
    margin-bottom: 70px;
}
.oplata{
    padding: 24px;
    background: white;
    width: 60%;
    max-width: 1060px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.yellow{
    padding: 16px 66px;
    width: 100%;
    background: #FFF383;
    margin-top: 23px;
    display: flex;
align-items: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: left;

}
.yellow img{
    width: 32px;
    height: 32px;
    margin-right: 10px;
}
.video_about_page .oplata .fk {
    transform: none !important;
}
@media screen and (max-width: 769px){
    .oplata{
        width: calc(100% - 24px);
        padding: 16px;
    }
    .oplata h2{
        font-size: 16px !important;
        font-weight: 700;
        line-height: 19px;
        text-align: left;
    }
    .oplata .whit {
        margin-top: 10px;
    }

    .yellow{
        padding: 12px 8px;
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        text-align: left;

    }
    .yellow img{
        width: 24px;
        height: 24px;
    }
    .video_about_page .oplata .fk {
        transform: none;
        display: block !important;
        width: 24px;
        height: 24px;

        top: 5%;
        right: 4%;
        border: none !important;
    }
}
.oplata .whit{
    width: 100%;
    margin-top: 23px;
}
.oplata h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;

}
@media screen and (min-width: 1920px){
    .gray_block {
        width: 100vw !important;
        transform: translate(-50%);
        margin-left: 50%;
    }
    .first_block{
        width: 1920px !important;
        transform: translate(-50%);
        margin-left: 50%;
    }
    .perev_robot{
        width: 1920px !important;
        transform: translate(-50%);
        margin-left: 50%;
    }
    .unique_bot{
        width: 1920px !important;
        transform: translate(-50%);
        margin-left: 50%;
    }
    .bot_stat{
        width: 1920px !important;
        transform: translate(-50%);
        margin-left: 50%;
    }
    .need_bot{
        width: 1920px !important;
        transform: translate(-50%);
        margin-left: 50%;
    }
    .hi_trading_bot{
        width: 1920px !important;
        transform: translate(-50%);
        margin-left: 50%;
    }
}
.gray_block{
    background:#f3f7f6 url("./images/mnogo.svg") !important;
    z-index: -1;
}
.anss1, .anss2, .anss3, .anss4, .anss5, .anss6, .anss7 {
    transition: 0.5s;
    font-size: 0px;
    height: 0;
}
.faq_ans img{
    transition: 0.5s;
}
.faq_ans img{
    cursor: pointer;
}
.rotateKrest{
    transform: rotate(45deg);
}
.open_p_faq{
    font-size: 16px;
    height: max-content !important;
    margin-top: 16px;
    font-weight: 400 !important;
}
.mob_y{
    display: none;
}
.mob_n{
    display: block;
}
.first_block img{
    position: absolute;
    width: 852px;
    height: 640px;
    top: 50px;
    right: 49px;
}
.gray_block{
    background: #E9E9E9;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 405px;
}
.white_block{
    background: #FFFFFF;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 292px;
}
.main_description{
    width: 920px;
    margin-top: 151px;
    margin-left: 179px;
    position: absolute;
}
.main_h1_challenge{
    width: 100%;
    height: 154px;
    font-size: 64px;
    position: relative;
    font-weight: 600;
    line-height: 76px;

}
.images_need_bot.mob_y{
    display: none;
}
.main_h1_challenge span{
    background: linear-gradient(276.58deg, #369FAE 0%, #6BE4CA 91.46%, #6BE4CA 91.81%);
    border-radius: 12px;
    padding: 10px 19px;
    margin-left: -19px;
    color: white;
}
.perev_challenge.bot{
    margin-top: 24px;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    width: 586px;
    color: #000000;
}
.first_block_button{
    padding: 14px 72px;
    border-radius: 87px;
    margin-top: 72px;

}
.perev_robot{
    padding-top: 93px;
    padding-left: 78px;
    padding-bottom: 176px;
}
.perev_robot h2{
    font-size: 64px;
    font-weight: 700;
    line-height: 76px;
    text-align: center;
    width: 100%;

}
.perev_robot h2 span{
    background: linear-gradient(276.58deg, #369FAE 0%, #6BE4CA 91.46%, #6BE4CA 91.81%);
    border-radius: 12px;
    padding: 10px 19px;
    color: white;
}
.main_perev_robot p{
    width: 660px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 24px;
}
.about_perev_bot{
    margin-top: 93px;
    display: grid;
    grid-gap: 184px;
    grid-template-columns: 2fr 3fr;
}
.variants_bot_number{
    color: #A7A7A7;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}
.unique_bot_main{
    position: relative;
}
.unique_bot_main_about_video iframe {
    border-radius: 24px;
    position: absolute;
    width: 823px !important;
    right: 0;
}

.variants_bot_desc{
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
    background: linear-gradient(276.58deg, #369FAE 0%, #6BE4CA 91.46%, #6BE4CA 91.81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 14px;
    width: 403px;
}
.variants_bot_desc_main{
    margin-top: 14px;
    width: 345px;

}
.grid_perev{
    display: grid;
    grid-gap: 137px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 91px;
}
.unique_bot{
    padding:93px 160px;
}
.unique_bot_main{
    width: 100%;
    box-shadow: 0 4px 45px 0 #CFCFCF40;
    display: flex;
    border-radius: 12px;
    height: 510px;
}
.unique_bot_main_about{
    padding-top: 62px;
    padding-left: 64px;
    padding-bottom: 24px;

}
.unique_bot_main_about button{
    padding: 14px 80px;
    border-radius: 87px;
    margin-top: 48px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;

}
.unique_bot_main_about h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 57px;

}
.bot_stat{
    overflow: hidden;
}
.unique_bot_main_about p{
    margin-top: 24px;
    width: 563px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;



}
.unique_bot_main_about_video {
    width: 823px;
}
.unique_bot_main_about_video iframe{
    border-radius: 24px;
    width: 100%;
    padding: 24px 24px 24px 0;
    margin-left: 35px;
    height: 100%;
}
.bot_stat{
    padding: 93px 295px 172px 295px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bot_stat h2{
    font-size: 64px;
    font-weight: 700;
    line-height: 76px;
    text-align: center;
    width: 100%;
}
.bot_stat p{
    font-size: 20px;
    margin-top: 24px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    width: 660px;
    margin-left: 50%;
    transform: translate(-50%);
}
.stat_numbers{
    margin-top: 48px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    grid-gap: 103px;
}
.grad_text{
    background: linear-gradient(276.58deg, #369FAE 0%, #6BE4CA 91.46%, #6BE4CA 91.81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 64px;
    font-weight: 600;
    line-height: 76px;
    text-align: center;

}
.under_grad{
    margin-top: 16px;
text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;

}
.stat_img{
    margin-top: 23px;
    width: 107%;

}
.stat_img img{
    width: 100%;
    height: auto;
}
.need_bot{
    padding: 93px 160px 97px 160px;
}
.need_bot h2{
    font-size: 64px;
    font-weight: 700;
    line-height: 76px;
    text-align: center;
    width: 100%;

}
.need_bot h2 span{
    background: linear-gradient(276.58deg, #369FAE 0%, #6BE4CA 91.46%, #6BE4CA 91.81%);
    border-radius: 12px;
    padding: 10px 19px;
    color: white;
}
.need_bot_desc{
    width: 660px;
text-align: center;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 24px;
    font-size: 20px;
    line-height: 24px;

}
.images_need_bot{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 24px;
    margin-top: 48px;

}
.images_need_bot img{
    width: 122%;


}
.need_bot{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.need_bot button {
    padding: 14px 98px;
    border-radius: 87px;

    margin-top: 48px;
}
.hi_trading_bot{
    padding: 75px 160px 163px 160px;
}
.hi_trading_bot h2{
    font-size: 64px;
    font-weight: 700;
    line-height: 76px;
    text-align: center;
    width: 100%;

}
.about_hi_trading{
    margin-top: 48px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 24px;

}
.flex_div{
    display: flex;
    align-items: center;
}
.ins_flex_div{
    margin-left: 16px;
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;

}
.box_shadow_div{
    height: 563px;
    box-shadow: 0px 4px 45px 0px #CFCFCF40;
    position: relative;

}
.box_shadow_div.f{
    padding: 22px 23px 24px 24px;
}
.desc_hi_trading{
    width: 100%;
}
.desc_hi_trading ul{
    margin-top: 24px;
    width: 470px;
}
.desc_hi_trading ul li{
    list-style-type: none;
    background: url("./images_challenge/gal.png") no-repeat ;
    min-height: 29px;
    display: flex;
    align-items: center;
    padding-left: 44px;
    margin-bottom: 24px;
}
.hi_trading_price{
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
    height: 43px;
    align-items: flex-end;
}
.pricee{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #B0B0B0;

}
.price_num{
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;


}
.desc_hi_trading ul{
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;

}
.hi_trading_bot button {
    padding: 14px 177px;
    border-radius: 87px;
    margin-top: 45px;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;

}
.need_bot button{
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}
.box_shadow_div.s img{
width: 100%;

}

.stat_bot{
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    position: absolute;
    top:32px;
    left: 32px;

}
.qwsa{
    display: none;
}
.box_shadow_div.s img {
    height: 100%;
}
.box_shadow_div.s{
    overflow: hidden;
}
@media screen and (min-width: 1440px) and (max-width: 1919px){
    .faq_quest .faq_ans{
        margin-top: 0 !important;
    }
    .footer {
        border-top: none !important;

    }
    .flex_div img{
        width: 42px;

    }
    .desc_hi_trading ul {
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
    }
    .first_block{
        margin-top: 64px;
    }
    .main_h1_challenge {
        width: 674px;
        height: 116px;
        font-size: 48px;
        position: relative;
        font-weight: 600;
        line-height: 57px;
    }
    .main_h1_challenge span {
        background: linear-gradient(276.58deg, #369FAE 0%, #6BE4CA 91.46%, #6BE4CA 91.81%);
        border-radius: 12px;
        padding: 4px 10px;
        margin-left: -8px;
        color: white;
    }
    .main_description {
        width: 674px;
        margin-top: 196px;
        margin-left: 120px;
    }
    .gray_block {
        height: 387px;
    }
    .variants_bot_desc {

        width: 303px;
    }
    .perev_robot{
        padding: 75px 122px 113px 120px;
    }
    .unique_bot_main_about_video iframe {
        position: absolute;
        width: 590px !important;
        border-radius: 24px;
        right: 0;
    }

    .perev_robot h2 {
        font-size: 48px;
        line-height: 57px;
    }
    .main_perev_robot p {
        width: 486px;
        font-size: 15px;
        line-height: 18px;
    }
    .about_perev_bot {
        margin-top: 64px;
        grid-gap: 88px;
        grid-template-columns: 456px 660px;
    }
    .about_perev_bot img{
        width: 100%;
    }
    .grid_perev{
        grid-gap: 89px;
        margin-bottom: 48px;
    }
    .variants_bot_number{
        font-size: 16px;
        line-height: 19px;
    }
    .variants_bot_desc{
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;

    }
    .variants_bot_desc_main{
        font-size: 15px;
        width: 278px;
    }
    .unique_bot {
        padding: 80px 120px 98px 120px;
    }
    .stat_img img {
        width: 100%;
        height: auto;
    }
    .unique_bot_main_about {
        padding-top: 41px;
        padding-left: 36px;
        padding-bottom: 37px;
    }
    .unique_bot_main_about_video iframe {
        width: 100%;
        padding: 0;
        margin-left: 35px;
        border-radius: 24px;
        height: 100%;
    }
    .unique_bot_main_about h2 {

        width: 920px;
        font-size: 36px;
        line-height: 43px;
        text-align: left;
    }
    .unique_bot_main_about p {
        margin-top: 16px;
        width: 425px;
        font-size: 15px;
        line-height: 18px;
        text-align: left;
    }
    .unique_bot_main_about button {
        padding: 10px 18px;
        border-radius: 65px;
        margin-top: 36px;
        width: 204px;
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;

    }
    .unique_bot_main {
        height: 334px;
    }
    .mob_y{
        display: none !important;
    }
    .bot_stat {
        padding: 70px 221px 129px 221px;
    }
    .bot_stat h2 {
        font-size: 48px;
        font-weight: 700;
        line-height: 57px;
    }
    .bot_stat p {
        font-size: 15px;
        margin-top: 18px;
        line-height: 18px;
        width: 495px;
    }
    .stat_numbers {
        margin-top: 36px;
        grid-gap: 77px;
    }
    .grad_text {
        font-size: 48px;
        font-weight: 600;
        line-height: 57px;
    }
    .under_grad {
        margin-top: 12px;
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
    }
    .need_bot {
        padding: 70px 120px;
    }
    .need_bot h2 {
        font-size: 48px;
        line-height: 57px;
    }
    .need_bot_desc {
        width: 495px;
        margin-top: 18px;
        font-size: 15px;
        line-height: 18px;
    }
    .images_need_bot img {
        width: 116%;
        height: auto;
        box-shadow: none !important;
        margin-left: 50%;
        transform: translate(-50%);
    }
    .images_need_bot {
        grid-gap: 0px;
        margin-top: 36px;
    }
    .need_bot button {
        padding: 10px 18px;
        border-radius: 65px;
        width: 204px;
        margin-top: 4px;
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;
    }
    .desc_hi_trading{
        font-size: 18px;
        line-height: 21px;
    }
    .desc_hi_trading ul li {
        background: url("./images_bot/gall21.svg") no-repeat;
    }
    .hi_trading_bot button{
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;

    }
    .hi_trading_bot {
        padding: 56px 120px 122px 120px;
    }
    .hi_trading_bot h2 {
        font-size: 48px;
        line-height: 57px;
    }
    .about_hi_trading {
        margin-top: 36px;
        grid-template-columns: 387fr 794fr;
        grid-gap: 18px;
    }
    .box_shadow_div.f {
        padding: 16px 17px 18px 18px;
    }
    .ins_flex_div {
        margin-left: 12px;
        font-size: 24px;
        line-height: 22px;
    }
    .desc_hi_trading ul li {
        width: 352px;
        padding-left: 30px;
        margin-bottom: 18px;
    }
    .pricee{
        font-size: 15px;
        line-height: 18px;
    }
    .hi_trading_price {
        display: flex;
        justify-content: space-between;
        margin-top: 18px;
        height: 32px;
        align-items: flex-end;
    }
    .price_num{
        font-size: 27px;
        font-weight: 700;
        line-height: 32px;

    }
    hr{
        width: 100%;
        height: 1px;
        background: #E9E9E9;
        margin-top: 14px;
    }
    .hi_trading_bot button {
        padding: 10px 18px;
        border-radius: 65px;
        margin-top: 34px;
        width: 100%;
    }
    .stat_bot {
        font-size: 24px;
        font-weight: 700;
        line-height: 22px;
        text-align: left;
        position: absolute;
        top: 24px;
        left: 24px;
    }
    .box_shadow_div{
        height: auto;
    }
}
@media screen and (min-width: 768px) and (max-width: 1439px){
    .main_description {
        width: 600px;
        margin-top: 48px;
        margin-left: 84px;

    }
    .unique_bot_main_about_video iframe {
        position: absolute;
        width: 100% !important;
        border-radius: 24px;
        right: 0;
    }
    .sert_card .slick-list {
        height: 366px !important;
    }
    .qwsa {
        display: block !important;
    }
    .stat_bot{
        display: none;
    }
    .main_h1_challenge{
        font-size: 32px;
        line-height: 38px;
        height: 38px;
    }
    .perev_challenge.bot {
        width: 518px !important;
    }
    .first_block_button {
        margin-top: 35px !important;
        width: 205px;
        margin-left: 50%;
        transform: translate(-50%);
    }
    .perev_robot h2{
        padding-top: 80px;
        font-size: 32px;
        line-height: 38px;
    }
    .main_perev_robot p {
        width: 336px;
        font-size: 16px;
        line-height: 19px;
    }
    .about_perev_bot {
        margin-top: 24px;
    }
    .perev_robot{
        padding-left: 36px;
        padding-bottom: 86px;

    }
    .about_perev_bot {
        margin-top: 24px;
        grid-gap: 36px;
        grid-template-columns: 1fr;
    }
    .grid_perev {
        grid-gap: 41px;
        margin-bottom: 36px;
    }
    .variants_bot_number {
        font-size: 16px;
        line-height: 19px;
    }
    .variants_bot_desc {
        font-size: 24px;
        line-height: 28px;
        margin-top: 14px;
        width: 304px;
    }
    .variants_bot_desc_main {
        width: 320px;
        font-size: 15px;
        line-height: 18px;
    }
    .unique_bot{
        padding: 68px 36px;
    }
    .unique_bot_main {
         flex-direction: column;
        padding: 0 24px 0 24px;
    }
    .unique_bot_main_about h2 {
        font-size: 32px;
        line-height: 38px;
        text-align: center;
    }
    .unique_bot_main_about{
        padding-left: 0;
    }
    .unique_bot_main_about p {
        margin-top: 24px;
        font-size: 15px;
        line-height: 18px;
        width: 100%;
        padding: 0 116px;
    }
    .unique_bot_main_about button {
        padding: 10px 18px;
        width: 100%;
        border-radius: 65px;
        margin-top: 39px;
    }
    .unique_bot_main_about_video iframe {
        width: 100%;
        margin-left: 0;
        padding: 24px 0;
        border-radius: 24px;
    }
    .unique_bot_main_about_video {
        width: 100%;
    }
    .bot_stat {
        padding: 80px 36px;
    }
    .bot_stat h2 {
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        text-align: center;

    }
    .bot_stat p {
        font-size: 16px;
        line-height: 19px;
        width: 475px;
    }
    .stat_numbers {
        margin-top: 48px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 32px;
    }
    .grad_text {
        font-size: 36px;
        font-weight: 700;
        line-height: 43px;
    }
    .under_grad {
        margin-top: 14px;
        font-size: 15px;
        line-height: 18px;
    }
    .need_bot {
        padding: 112px 36px;
    }
    .need_bot h2 {
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        text-align: center;

    }
    .need_bot_desc {
        width: 475px;
        margin-top: 24px;
        font-size: 16px;
        line-height: 19px;

    }
    .images_need_bot {
        grid-template-columns: 1fr 1fr;
        grid-gap: 24px;
        margin-top: 48px;
    }
    .images_need_bot {
        grid-gap: 0;
        box-shadow: none;
    }
    .need_bot button {
        padding: 10px 18px;
        width: 205px;
        border-radius: 65px;
        margin-top: 36px;
    }
    .hi_trading_bot {
        padding: 64px 36px;
    }
    .hi_trading_bot h2 {
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        text-align: center;

    }
    .about_hi_trading {
        margin-top: 46px;
        grid-template-columns: 387fr 794fr;
        grid-gap: 16px;
    }
    .box_shadow_div.f {
        padding: 12px;
    }
    .flex_div img{
        width: 26px;
    }
    .ins_flex_div {
        margin-left: 7px;
        font-size: 15px;
        font-weight: 700;
        line-height: 14px;
    }
    .desc_hi_trading ul {
        margin-top: 13px;
        width: 241px;
    }
    .desc_hi_trading ul li {
        background: url("./images_bot/galll.png") no-repeat;
        min-height: 17px;
        padding-left: 25px;
        margin-bottom: 14px;
    }
    .hi_trading_price {
        margin-top: 34px;
        height: 14px;
    }
    .pricee {
        font-size: 12px;
        line-height: 14px;
    }
    .price_num {
        font-size: 12px;
        line-height: 14px;
    }
    .hi_trading_bot button {
        padding: 14px;
        border-radius: 87px;
        margin-top: 16px;
        width: 100%;
    }
    .box_shadow_div {
        min-height: 338px;
        height: auto;
        box-shadow: none;
    }
    .qwsa1{
        display: none;
    }
    .qwsa{
        width: 100%;
        height: 100%;
    }
}
@media screen and (min-width: 350px) and (max-width: 767px){
    .main_description {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 28px;
        padding-right: 0 !important;
        margin-left: 50%;
        transform: translate(-50%);
    }
    .main_h1_challenge span {
        padding: 4px 13px;
        margin-left: -7px;
    }
    .need_bot h2{
        line-height: 34px !important;
    }
    .main_h1_challenge_chall{
        line-height: 31px !important;
    }
    .unique_bot_main_about_video iframe{
        width: 100% !important;
        position: relative;
        border-radius: 24px;
    }
    .need_bot h2 span {
        padding: 4px 14px ;

    }
    .main_h1_challenge {
        width: 100%;
        height: 58px;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }
    .first_block {
        position: relative;
        height: 600px;
        width: 100%;
        margin-top: 56px;
        margin-bottom: 0px;
    }
    .first_block img {
        width: 100%;
        height: auto;
        top: 270px;
        margin-left: 50%;
        right: auto;
        transform: translate(-50%);
    }
    .perev_challenge.bot {
        margin-top: 12px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        width: 351px;

    }
    .first_block_button {
        padding: 10px 18px;
        border-radius: 87px;
        margin-top: 24px;
        margin-left: 50%;
        transform: translate(-50%);
        width: 205px;
    }
    .perev_robot {
        padding-top: 36px;
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 35px;
    }
    .perev_robot h2 {
        font-size: 24px;
        line-height: 28px;
    }
    .main_perev_robot p {
        width: 100%;
        font-size: 14px;
        line-height: 17px;
        margin-top: 16px;
    }
    .about_perev_bot {
        margin-top: 24px;
        grid-gap: 25px;
        grid-template-columns: 1fr;
        font-size: 15px;
        line-height: 18px;
    }
    .mob_y{
        display: block;
    }
    .mob_n{
        display: none;
    }
    .grid_perev{
        grid-template-columns: 1fr;
        grid-gap: 24px;
        margin-bottom: 24px;
    }
    .about_perev_bot img{
        width: 100%;
    }
    .variants_bot_number {
        font-size: 16px;
        line-height: 19px;
        text-align: left;
    }
    .variants_bot_desc {
        font-size: 24px;
        line-height: 28px;
        margin-top: 14px;
        width: 305px;
    }
    .unique_bot {
        padding: 28px 12px 56px 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .unique_bot_main {
        flex-direction: column;
        width: 351px;
    }
    .unique_bot_main_about h2 {
        font-size: 16px;
        line-height: 19px;
    }
    .unique_bot_main_about {
        padding-top: 16px;
        padding-left: 16px;
        padding-bottom: 12px;
        padding-right: 16px;
    }
    .unique_bot_main_about p {
        margin-top: 12px;
        width: 100%;
        font-size: 14px;
        line-height: 17px;
        text-align: left;
    }
    .unique_bot_main_about_video iframe {
        width: 100%;
        padding:0;
        border-radius: 24px;
        margin-left: 0px;
        height: auto;
    }
    .unique_bot_main_about_video{
        width: 100%;
    }
    .unique_bot_main_about button {
        padding: 10px 18px;
        border-radius: 87px;
        margin-top: 24px;
        width: 100%;
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;
    }
    .images_need_bot.mob_y {
        display: grid !important;
    }
    .stat_img img {
        width: auto;
        height: 100%;
    }
    .unique_bot_main{
        height: 438px;
    }
    .bot_stat {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 36px 0px;
    }
    .bot_stat h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
    }
    .bot_stat p {
        font-size: 14px;
        margin-top: 24px;
        font-weight: 500;
        line-height: 17px;
        text-align: center;
        width: 351px;
        margin-left: 0;
        transform: none;
    }
    .stat_numbers {
        margin-top: 24px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 24px;
    }
    .grad_text {
        font-size: 32px;
        line-height: 38px;
        text-align: center;
    }
    .under_grad {
        margin-top: 14px;
        text-align: center;
        font-size: 15px;
        line-height: 18px;
    }
    .stat_img {
        margin-top: 24px;
        height: 500px;
        margin-left: -4px;
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-width: none;
    }
    .need_bot_desc{
        margin-left: 0 !important;
        transform: none;
        font-size: 14px;
        line-height: 17px;
    }
    .need_bot {
        padding: 48px 12px;
        overflow: hidden;
    }
    .need_bot h2 {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        width: 100%;
        padding: 0 45px;
    }
    .about_hi_trading hr{
        margin-top: 15px;
    }
    .feedback_chall {
        height: 500px !important;
    }
    .need_bot_desc {
        width: 100%;
        text-align: center;
        margin-top: 16px;
    }
    .images_need_bot {
        grid-template-columns: 1fr;
        grid-gap: 0;
        margin-top: 32px;
    }
    .hi_trading_bot {
        padding: 36px 12px;
    }
    .about_hi_trading {
        margin-top: 24px;
        grid-template-columns: 1fr;
        grid-gap: 12px;
    }
    .hi_trading_bot h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        text-align: center;

        width: 100%;
    }
    .desc_hi_trading ul {
        margin-top: 24px;
        width: 100%;
    }
    .qwsa1{
        display: none;
    }
    .hi_trading_bot button {
        padding: 10px 18px;
        border-radius: 87px;
        margin-top: 15px;
        width: 100%;
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;

    }
    .pricee, .price_num{
        font-size: 14px !important;
    }
    .faq_main.bot .faq_ans p {
        width: 320px;
    }


    .desc_hi_trading ul li {
        list-style-type: none;
        min-height: 17px;
        font-size: 14px;
        line-height: 17px;
        text-align: left;

        display: flex;
        align-items: flex-start;
        padding-left: 25px;
        margin-bottom: 14px;
    }
    .flex_div{
        width: 134px;
        height: 26px;
        margin-left: 50%;
        transform: translate(-50%);
    }
    .ins_flex_div{
        display: flex;
        margin-left: 8px;
        align-items: center;
    }
    .hi_trading_price {
        margin-top: 23px;
        height: 14px;
    }
    .flex_div div{
        height: 100%;
        font-size: 15px;
        font-weight: 700;
        line-height: 14px;
        text-align: left;

    }
    .flex_div img{
        height: 100%;
    }
    .price_num {
        font-size: 12px;
        line-height: 14px;
    }
    .pricee {
        font-size: 12px;
        line-height: 14px;
        text-align: left;
    }
    .box_shadow_div {
        height: auto;
    }
    .images_need_bot img {
        width: 100%;
        margin-bottom: -52px;
        box-shadow: none;
    }
    .need_bot button {
        width: 351px;
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;

    }
    .desc_hi_trading ul li{
        background: url("./images_bot/galM.svg") no-repeat;
    }
    .slick-initialized .slick-slide {
        width: auto !important;
    }
    .slick-slider.slick-initialized {
        height: 760px;
    }
    .slick-list{
        height: 100%;
    }
    .sert_card {
        overflow-x: unset;
    }
    .feedback_chall {
        height: 870px;
        overflow: hidden;
    }
    .stat_bot{
        display: none;
    }
}