.main_menu_header{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding-bottom: 28px;
    background: rgba(0,0,0,0.5);
    transition: 0.3s;

}
.main_menu_header .society div {
    display: flex;
    align-items: center;
    margin-left: 48px;
    justify-content: flex-start;
}
.main_menu_header .society img {
    height: 100%;
    margin-right: 18px;
}
.bg_white{
    background: white;
}
.menu_content {
    margin-top: 0 !important;
    padding-top: 85px !important;
}
.main_menu_header .society{
    margin-bottom: 31px;
}
.zakr{
    display: none;
}
.black_back{
    width: 100%;
    height: 100vh;
    opacity: 0.2;
}
@media screen and (max-width: 1439px){
    .main_header {
        padding: 0 36px;
        grid-template-columns: 1fr 1fr 1fr;
        height: 56px;
    }
}

.menu_content{
    margin-top: 92px;
    margin-left: 36px;
}
.menu_punkt{
    margin-bottom: 36px;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;

}
.contact_block{
    margin-left: 36px;
    display: flex;
}
.cont_button{
    width: 204px;
    height: 38px;
    top: 536px;
    left: 36px;
    padding: 10px 18px;
    border-radius: 42px;


}
.contact_block .society {
    margin-top: 0;
    height: 33px;
    margin-left: 60px;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
}
.main_menu_header .main_header{
    box-shadow: none;
}
.image_iphone{
    width: 430px;
    height: 323px;
    position: absolute;
    top: 103px;
    right: 36px;
}
.image_iphone img{
    width: 100%;
}
@media screen and (min-width: 350px) and (max-width: 768px){
    .menu_punkt {
        margin-bottom: 36px;
        font-size: 25px;
        line-height: 30px;
        text-align: left;
    }
    .image_iphone{
        display: none;
    }
    .contact_block{
        display: flex;
        flex-direction: column;
    }
    .menu_content {
        margin-left: 12px;
    }
    .contact_block {
        margin-left: 12px;
        display: flex;
        margin-right: 12px;
    }
    .button_style.cont_button{
        width: 100%;
    }
    .contact_block .society {
        margin-top: 24px;
        height: 33px;
        margin-left: 0px;
        font-size: 15px;
        line-height: 22px;
        text-align: center;
    }
    .main_menu_header .society{
        margin-bottom: 16px;
    }

}